<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head.html" . }}
    {{ block "extra_css" . }}
    {{ end }}
</head>

<body id="top" class="">
    <section id="header" class="">
        {{ partial "header.html" . }}
    </section>

    {{ block "hero" . }}
    <section id="hero">
        <div class="hero has-primary-gradient">
            <div class="hero-body">
                <div class="container">
                    <div class="columns _is-centered is-vcentered">
                        <div class="column">
                            <div class="columns is-vcentered has-text-centered-mobile">
                                <div class="column">
                                    {{ block "hero-content" . }}
                                    <h1 class="title is-1 has-text-white">{{ .Title }}</h1>
                                    <p class="subtitle has-text-white">{{ .Params.subtitle }}</p>
                                    {{ end }}
                                </div>
                                {{ if .Params.hero_image }}
                                <div class="column is-half">
                                    {{ block "hero-image" . }}
                                    {{ $hero := printf "%s/%s" "images/" .Params.hero_image }}
                                    <img class="image hero-img" src="{{ absURL $hero }}">
                                    {{ end }}
                                </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ end }}

    <section class="section">
        <div class="container content">
            {{ block "content" . }}
            {{ end }}
        </div>
    </section>

    <div class="is-clearfix"></div>
    
    {{ block "cta" . }}
    {{ if (default true .Params.show_cta) }}
        {{ if .Params.show_big_cta }}
        {{ partial "design/bigcta.html" . }}
        {{ else }}
        {{ partial "design/cta.html" . }}
        {{ end }}
    {{ end }}
    {{ end }}

    {{ partial "footer.html" .}}
    {{ partial "foot.html" .}}
    {{ block "extra_js" . }}
    {{ end }}
</body>

</html>