<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head.html" . }}
</head>

<body id="top" class="">
    <section id="header" class="">
        {{ partial "header.html" . }}
    </section>

    {{ block "hero" . }}
    <section id="hero">
        <div class="hero is-medium" style="background-image: linear-gradient(-249deg, black, white), url({{ default "/images/hero-bg.jpg" .Params.hero_bg_image}});">
            <div class="hero-body">
                <div class="container">
                    {{ block "hero-content" . }}
                    <div class="columns _is-centered is-vcentered has-text-white has-text-centered-mobile">
                        <div class="column is-full-tablet _is-offset-one-quarter-tablet">
                            <h1 class="title is-1 has-text-white">{{ block "title" . }}{{ end }}</h1>
                            <p class="subtitle has-text-white">{{ block "subtitle" . }}{{ end }}</p>
                            <p></p>
                            <p></p>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </section>
    {{ end }}

    <section class="section">
        <div class="container content">
            {{ block "content" . }}
            {{ end }}
        </div>
    </section>

    {{ block "cta" . }}
    {{ partial "design/cta.html" . }}
    {{ end }}

    {{ partial "footer.html" .}}

    <script src="/js/simplebox.min.js"></script>
    <script src="/js/site.js"></script>
</body>

</html>