# Main website, config, and theme is managed by Infra team
* @leigh-hackspace/infra

# Website content is managed by the Web Editors team
/content/ @leigh-hackspace/web-editors

# Membership data is managed by the directors
/data/memberships.yaml @leigh-hackspace/directors
