{{ define "title" }}
{{ .Title }}
{{ end }}

{{ define "subtitle" }}
{{ .Params.subtitle }}
{{ end }}

{{ define "content" }}
{{ .Content }}

{{- range .Data.Pages.GroupByDate "2006" }}
<h3 id="{{ .Key }}">{{ .Key }}</h3>

{{- range .Pages }}
{{ $image := .Resources.GetMatch .Params.listing_image }}
{{ $image = $image.Fill "512x512 Center jpg" }}
<div class="box">
    <div class="columns">
        <div class="column is-one-quarter has-text-centered is-hidden-mobile">
            <img src="{{ $image.RelPermalink}}" class="image is-inline-block">
        </div>
        <div class="column">
            <p><a href="{{ .Permalink }}">{{.Title}}</a> - {{ .Params.author }}<br />
                <span class="is-size-6">{{ dateFormat "Jan 2, 2006" .PublishDate }}</span>
            </p>
            <p class="is-size-6"><i>{{ .Summary }}</i></p>
        </div>
    </div>
</div>
{{- end }}

{{- end }}
{{ end }}