{{ define "title" }}
{{ .Title }}
{{ end }}

{{ define "subtitle" }}
{{ .Params.subtitle }}
{{ end }}

{{ define "content" }}
<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img class="is-rounded" src="https://www.gravatar.com/avatar/{{ sha256 .Params.author_email }}">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p class="is-size-5 is-italic">This is a post by <b>{{ .Params.author }}</b>.<br />Originally
        posted {{ .Date | time.Format ":date_full" }}</b></p>
    </div>
  </div>
</article>
{{ .Content }}
{{ end }}