{{ define "title" }}
{{ .Title }}
{{ end }}

{{ define "subtitle" }}
{{ .Params.subtitle }}
{{ end }}

{{ define "content" }}
<article class="media">
  <figure class="blog-avatar media-left">
    <p class="image is-64x64">
      {{ $avatar := resources.GetRemote (print "https://www.gravatar.com/avatar/" (sha256 .Params.author_email)) |
      resources.Copy (print "images/avatars/" (sha256 .Params.author_email) ".jpg") }}
      <img class="is-rounded" src="{{ $avatar.RelPermalink }}" alt="{{ .Params.author }}'s avatar">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p class="is-size-6 is-italic">This is a post by <b>{{ .Params.author }}</b>.<br />
        Posted <b>{{ .PublishDate | time.Format ":date_full" }}</b>
        {{ if .Params.original_url }}<br/>Originally posted at <a href="{{ .Params.original_url }}" rel="canonical">{{ .Params.original_url }}</a>{{ end }}
      </p>
    </div>
  </div>
</article>
{{ .Content }}
{{ end }}