{{ define "title" }}
{{ .Title }}
{{ end }}

{{ define "subtitle" }}
{{ .Params.subtitle }}
{{ end }}

{{ define "extra_css" }}
<link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
{{ end }}

{{ define "extra_js" }}
<script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>
<script>
    $(document).ready(function () {
        render_calendar();
    });
</script>
{{ end }}

{{ define "content" }}
<div id="calendar" style="height: 800px"></div>
{{ end }}