{{ define "hero-content" }}
<h1 class="title is-1 has-text-white">{{ .Title }}</h1>
<p class="subtitle has-text-white">{{ .Params.subtitle }}</p>

<div class="columns _is-desktop">
    <div class="column is-mobile is-multiline is-fullwidth-touch">
        <a class="button is-primary is-medium is-fullwidth has-box-shadow" href="{{ ref . "about" }}">Learn more</a>
    </div>
    <div class="column is-mobile is-multiline is-fullwidth-touch">
        <a class="button is-primary is-medium is-fullwidth has-box-shadow is-inverted _is-outlined"
            href="{{ ref . "membership" }}">Become a member</a>
    </div>

</div>
{{ end }}

{{ define "content" }}
{{ .Content }}
{{ end }}

{{ define "cta" }}
{{ partial "design/bigcta.html" . }}
{{ end }}