{{ define "hero" }}
<section id="hero">
    <div class="hero has-primary-gradient">
        <div class="hero-body">
            <div class="container">

                <div class="columns is-centered ">
                    <div class="column is-four-fifths">
                        <div class="columns is-vcentered has-text-centered-mobile">

                            <div class="column is-half">
                                <h1 class="title is-1 has-text-white">{{ .Title }}</h1>
                                <p class="subtitle has-text-white">{{ .Params.subtitle }}</p>
                            </div>

                            <div class="column">
                                <img class="hero-img" src="/images/hero-img.svg">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}

{{ define "content" }}
{{ .Content }}
{{ end }}

{{ define "cta" }}
<p></p>
{{ end }}