{{ define "title" }}
{{ .Title }}
{{ end }}

{{ define "subtitle" }}
{{ .Params.subtitle }}
{{ end }}

{{ define "content" }}
<table border="0">
  <tr>
    <td>
      {{ $avatar := resources.GetRemote (print "https://www.gravatar.com/avatar/" (sha256 .Params.author_email)) |
      resources.Copy (print "images/avatars/" (sha256 .Params.author_email) ".jpg") }}
      {{ $avatar = $avatar.Resize "50x photo" }}
      <img src="{{ $avatar.RelPermalink }}" alt="{{ .Params.author }}'s avatar">
    </td>
    <td>
      <p><i>This is a post by <b>{{ .Params.author }}</b>.<br>Originally
        posted <b>{{ .PublishDate | time.Format ":date_full" }}</b></i></p>
    </td>
  </tr>
</table>

{{ .Content }}

{{ end }}