<footer class="footer _footer--sticky is-black has-text-white">
    <div class="container">
        <div class="columns">

            <div class="column is-1 is-pull-right-touch">
                <img src="/images/rose_logo.svg">
            </div>

            <div class="column is-4">
                <h4 class="title is-6 has-text-white">Where we are</h4>
                <address class="is-size-6">
                    Leigh Hackspace<br>
                    Unit 3.14, Leigh Spinners Mill<br>
                    Park Lane, Leigh <br>
                    WN7 2LB
                </address>
            </div>

            <div class="column is-5-mobile is-4">
                <h4 class="title is-size-6 has-text-white">Site Links</h4>
                <div class="columns">
                    <div class="column">
                        <ul class="has-text-white is-size-6 ">
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/facilities">Our Facilities</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                    </div>


                </div>
            </div>

            <div class="column">
                <h4 class="title is-6 has-text-white">Socials</h4>
                <div class="columns">
                    <div class="column is-4">
                        <ul class="has-text-white is-size-6 ">
                            {{- with .Site.Params.social }}
                            {{ range . -}}
                            <li><a href="{{ .url | safeURL }}" target="_blank" rel="noopener me" title="{{ .name | humanize }}">{{ .name | humanize }}</a></li>
                            {{ end }}
                            {{- end }}
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="columns is-vcentered is-size-6 is-multiline has-text-grey mt-4">
            <div class="column is-10-desktop is-offset-1-desktop">

                <div class="level">
                    <div class="level-left">
                    </div>
                    <div class="level-right has-text-right">
                        <p>© {{ .Site.Params.company }} {{ .Site.Params.copyright_years }} | Initial website by <a href="https://www.studiocosmos.co.uk"
                                target="_blank" rel="noopener">COSMOS</a><br/>
                                {{ .Site.Title }} is a trading name of {{ .Site.Params.Company }}, registered in England & Wales No. <a href="https://find-and-update.company-information.service.gov.uk/company/{{ .Site.Params.company_number }}">{{ .Site.Params.company_number }}</a></p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</footer>