<meta charset="utf-8">
<title>{{ block "title" . }}{{ .Site.Title }} - {{ .Title }}{{ end }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/589b48ea08.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<link rel="stylesheet" href="/css/bulma.min.css">
<link rel="stylesheet" href="/css/leighhack.css" type="text/css">

<style>
    @font-face {
        font-family: 'Transport Medium';
        src: url('/fonts/transport-medium.woff2') format('woff2');
    }
</style>
