<nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
    <div class="container">

        <div class="navbar-brand" style="flex-grow: 1;">
            <a class="navbar-item" href="{{ .Site.BaseURL }}">
                <img class="site-logo" src="{{ .Site.BaseURL }}images/rose_logo.svg" alt="" width="70">
                <span class="site-logo-text">Leigh<br/>Hackspace</span>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar" class="navbar-menu has-text-centered-touch is-size-5-touch">
            <div class="navbar-start is-half">

                {{- range site.Menus.main }}
                <a href="{{ .URL }}" class="active navbar-item has-shadow is-size-5">{{ .Name }}</a>
                </a>
                {{- end }}

                <div class="navbar-item has-shadow">
                    <div class="buttons is-block-touch is-fullwidth-touch">
                        <a href="{{ ref . "membership" }}" class="button is-primary is-rounded is-size-5">
                            <strong>Become a member</strong>
                        </a>
                    </div>
                </div>

            </div>

            <div class="navbar-end navbar--social-links">
                {{- with .Site.Params.social_links }}
                {{ range . -}}
                <div class="navbar-item is-inline-block-touch">
                    <span class="icon">
                        <a href="{{ .url | safeURL }}" target="_blank" rel="noopener me"
                            title="{{ .name | humanize }}"><i class="fab {{ .icon }}" aria-hidden="true"></i></a>
                    </span>
                </div>
                {{ end }}
                {{- end }}
            </div>
        </div>


    </div>
</nav>