<section class="has-primary-gradient cta-container">
    <div class="container">
        <div class="columns is-vcentered has-text-centered-mobile">

            <div class="column">
                <img class="cta-img" src="{{ absURL "images/hero-img.svg" }}" alt="">
            </div>

            <div class="column">
                <h2 class="title has-text-white">Become a member today!</h2>
                <p class="subtitle has-text-white">Leigh Hackspace is open to all. Being a member gives you access to our space, tools, and community.</p>
                <a href="{{ ref . "membership" }}" class="button is-primary is-medium has-box-shadow is-fullwidth">Join Leigh Hackspace</a>
            </div>
        </div>
    </div>
</section>