<section class="small_cta">
    <div class="container ">
        <div class="columns is-centered is-multiline is-vcentered is-half-desktop has-text-centered py-4">
            <div class="column is-12-mobile _is-9-desktop _is-6-widescreen has-text-weight-bold" markdown="1">
                Leigh Hackspace is open to all.<br>Being a member gives you access to our space, tools, and community.
            </div>
            <div class="column is-4-tablet _is-2-desktop is-3-widescreen">
                <a href="{{ ref . "membership" }}" class="button is-primary is-fullwidth is-medium has-box-shadow">Join Leigh Hackspace</a>
            </div>
        </div>
    </div>
</section>