{{ $img := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) }}
{{ $width := .Get "width" }}
{{ $height := .Get "height" }}
{{ $title := .Get "title" }}
{{ $class := .Get "class" }}
{{- with .Parent -}}
<div style="width:{{$width}}px">
{{ end }}
<figure class="image{{ if $class }} {{ $class }}{{ end }}">
  <img src="{{ $img.RelPermalink }}" width="{{$width}}px" heigth="{{$height}}px" {{ if $title }}
    alt="{{ $title }}" {{ end }}>
  {{ if $title }}
  <figcaption class="is-size-6">
    <small>
      {{ $title }}
    </small>
  </figcaption>
  {{ end }}
</figure>
{{- with .Parent -}}


</div>
{{ end }}