<div class="is-centered is-multiline">

    <div class="message">
      <div class="message-body">
      <p>Detailed information on equipment and facilities is available on 
      our <a href="https://wiki.leighhack.org/">wiki</a>.</p>
      </div>
    </div>

    <nav id="fac_menu" class="box">
      <ul>
      {{- range (where .Site.RegularPages "Section" "facilities") }}
        <li>
          <a href="#{{.LinkTitle}}">{{ .Params.title }}</a>
        </li>
      {{ end }}
      </ul>
    </nav>

    <div class="box is-clearfix">
    {{- range (where .Site.RegularPages "Section" "facilities") }}
      <h2 id="{{.LinkTitle}}">{{ .Params.title }}</h2>
      <p class="has-text-weight-bold">{{ .Params.subTitle }}</p>
      <div class="content">
        {{ .Content }}
      </div>
      <p class="is-italic"><a href="#fac_menu">Return to facilities</a></p>
    {{ end }}
    </div>
</div>
