<hr>
<p>
    <b>Leigh Hackspace</b><br>
    Unit 3.14, Leigh Spinners Mill<br>
    Park Lane, Leigh <br>
    WN7 2LB <br>
    <a href="mailto:info@leighhack.org">info@leighhack.org</a>
</p>

<p>
    <b>Policies:</b>
    {{ $menu_items := add (len .Site.Menus.policies) -1 }}
    {{- range $i, $e := .Site.Menus.policies }}
    <a href="{{ .URL | safeURL }}" target="_blank" rel="noopener me" title="{{ .Name  }}">{{ .Name }}</a>{{ if lt $i
    $menu_items }} / {{ end }}
    {{- end }}
</p>

<p>
    <b>Socials:</b>
    {{ $menu_items := add (len .Site.Params.social_links) -1 }}
    {{- range $i, $e := .Site.Params.social_links }}
    <a href="{{ .url | safeURL }}" target="_blank" rel="noopener me" title="{{ .name | humanize }}">{{ .name | humanize
        }}</a>{{ if lt $i $menu_items }} / {{ end }}
    {{- end }}
</p>


<p>&copy; {{ .Site.Params.company }} {{ .Site.Params.copyright_years }} | Initial website design by <a
        href="https://www.studiocosmos.co.uk" target="_blank" rel="noopener">COSMOS</a><br>
    {{ .Site.Title }} is a trading name of {{ .Site.Params.Company }}, registered in England & Wales No. <a
        href="https://find-and-update.company-information.service.gov.uk/company/{{ .Site.Params.company_number }}">{{
        .Site.Params.company_number }}</a></p>

<p>
    {{ with resources.Get "images/valid-html401.gif" }}
    <a href="http://validator.w3.org/check?uri=referer"><img src="{{ .RelPermalink }}"
            alt="Valid HTML 4.01 Transitional" height="31" width="88"></a>
    {{ end }}
    {{ with resources.Get "images/leigh-hackspace-button.gif" }}
    <a href="http://retro.leighhack.org"><img src="{{ .RelPermalink }}" alt="Leigh Hackspace" height="31"
            width="88"></a>
    {{ end }}
</p>